@CHARSET "UTF-8";


#member{
	width:auto;
	height:800px;
	border:2px solid #ccc;
	font-size:12px;
}

#member h2{
	height:30px;
	text-indent:0;
	text-align:center;
}

#member #member_sidebar{
	border:1px dashed #999;
	width:300px;
	height:500px;
	margin:15px;
	float:left;
}

#member #member_sidebar dl {
	width:250px;
	margin:15px auto;
}

#member #member_sidebar dl dt {
	height:40px;
	background:#999;
	margin:15px auto;
	font-weight:bold;
	text-align:center;
	color:#fff;
	line-height:40px;
}

#member #member_sidebar dl dd {
	height:40px;
	margin:15px auto;
	font-weight:bold;
	text-align:center;
	background:#eee;
	line-height:40px;
}

#member #member_sidebar dl dd a{
	display:block;
	color:#333;
	text-decoration:none;
}

#member #member_sidebar dl dd a:hover{
	background:#ccc;
}


#member #member_main{
	border:1px dashed #999;
	width:580px;
	height:500px;
	float:right;
	margin:15px;
}

#member #member_main dl{
	width:500px;
	margin:15px auto;
	font-size:14px;


}

#member #member_main dl dd{
	border-bottom:1px dashed #999;
	padding:10px 0;

}